.font-change{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    background-color: black;
  }
  .overall{
    
    display: flex;
    justify-content:flex-start;
    padding: 20px;
    padding-left: 100px;
    padding-right: 1000px;
    margin-top: 70px;
  }
  .batman-image{
    margin-right: 800px;
    border: 5px solid white;
    border-radius: 10px;
  }
  .quote{
    margin-top: 20px;
    margin-left: -500px;
    color: aliceblue;
  }
  .batman{
    text-align: right;
  }
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }